.win98-bar {
    background-color: #c0c0c0; 
    color: #000080; 
    font-family: "Tahoma", sans-serif;
    font-size: 1.4vh;
    padding: 0.5vh;
    border: 0.1vh solid #808080; 
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.win98-bar .icon {
    margin-right: 1vh;
}

@media screen and (orientation:portrait)
{
	.win98-bar{
		display:none;
	}
}