@font-face {
    font-family: 'kenvector';
    src: url('fonts/kenvector_future_thin2.ttf') format('truetype'), /* Super Modern Browsers */
    font-weight: normal;
    font-style: normal;
	text-decoration: none; 
}

#page-wrapper.portrait-mode{display: none;}

#sidebar-wrapper a{
	pointer-events: auto;	
}

.index-page-btn-txt{
	font-family:'kenvector', sans-serif; 
	font-size:2vh;
	text-decoration:none;  
	text-shadow: 
		-0.15vh -0.15vh 0 black,  
		0.15vh -0.15vh 0 black,
		-0.15vh  0.15vh 0 black,
		0.15vh  0.15vh 0 black;
	width:100%;
	position: absolute;  
	text-align:center;
	left:0;
	
	z-index: 1;  
	color:#ffb931;
}

.shadow {
	z-index:0;
	filter: blur(2px); /* Blur for a softer shadow */
	color:black; 
	padding-left:.2vh;
	padding-top:.2vh;
}

#sidebar-wrapper{

	top:4.35%;
	right:0px;
	position:absolute;
	height:100%;
	width:40%;
	margin-top:-1.92%;
}

#colors-btn-wrapper{
	position:absolute;
	z-index:-1;
	display: block;
	width:100%;
	height:33.3%;
	top:0vw;
	left:0%;
	background-color:white;
}
#page-wrapper.landscape-mode .table-container #adverts-wrapper{
	position:relative;
	z-index:2;
	margin-top:-2%;
	pointer-events: none;	
}

#psi-freak-btn{
	right:0px;
	height:40%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
}

#index-page-thick-black-hr{
	width:100%;
	height:1.5%;
	background-color:black;
}

#index-page-bottom-container{
	 position:relative;
     top: 0%;
     left: 50%;
	 height:20%;
     width:100%;
     transform: translate(-50%, 0%);
     margin: 0 auto;
	 display:block;
	 background-color:#2c6fb5;
}

#balloon-kid{
	position:absolute;
	height:90%;
	bottom:0%;
	left:2%;
}

#balloon-kid-balloon-wrapper{
	position:absolute;
	left:22%;
	width:50%;
	height:100%;
	float: right;
	justify-content: space-around;
	display: grid;
	align-items: center;
}

#balloon-img{
	  position: absolute;
	  height:87%;
	  left:0%;
}

#balloon-txt{
	position:relative;
	width:65.5%;
	left:14.5%;
	top:-3%;
}

#balloon-txt p{
	color:white;
	font-size:1.35vh;
}

#lower-content-right-side{
}

#cool-btns-wrapper{
	position:absolute;
	justify-content: center;
	display: block;
	display:grid;
	right:0;
	display:block;
	height:100%;
	width:33%;
}

.cool-btn{
	position:relative;
	height:47%;
	width:100%;
	padding:4% 3% 0% 0%;
}
.cool-btns-wrapper img{
	z-index:1000;
}

.red{background-color:#f10e00;}
.green{background-color:#7cc303;}
.blue{background-color:#4d71d1;}


.index-page-btn hover:{
	background-color:yellow;
}

.index-page-btn{
  cursor: pointer;
	height:19%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-page-btn:hover{background-color: yellow;}



@media screen and (orientation:portrait)
{	
	#page-wrapper.landscape-mode{display: none;}

	.index-page-btn{
		width:100%;
		height:100%;
		display: flex;  
		justify-content: center; 
		align-items: center;  
	}

	.index-page-btn .index-page-btn-txt{
		font-size:6vw;
	}

	.index-page-btn-txt{
		font-size:2vw
			-0.15vw -0.15vw 0 black,  
			0.15vw -0.15vw 0 black,
			-0.15vw  0.15vw 0 black,
			0.15vw  0.15vw 0 black;
	}
	
	.red{padding-top:0;}
	.green{padding-top:3vw;}
	.blue{padding-top:5vw;}
	.shadow{filter: blur(.25vw);padding-left:.5vw;padding-top:.5vw;}
	
	#page-wrapper.portrait-mode{display:flex;}	
		
	#page-wrapper.portrait-mode #content-wrapper{min-height:calc(100vh - 20vw - 40vw + 6vw);display:column;margin-top:-4vw;}

	#page-wrapper.portrait-mode #content-wrapper #content{z-index:0;position:relative;}

	#page-wrapper.portrait-mode #content-wrapper #content #index-page-portrait-btns-img {z-index:2;position:relative;pointer-events:none;}
	
	#page-wrapper.portrait-mode #content-wrapper #content #colors-btn-wrapper{margin-top:4.4vw;height:31%;}
	
	#page-wrapper.portrait-mode #content-wrapper #content #cool-btns-wrapper{background-color:#2a4197;justify-content:center;display: block;}
	
	#cool-btns-wrapper{
		position:relative;
		width:100%;
		margin:auto;
		width:100%;
		float:left;
		display:block;
	}
	
	.cool-btn-top{
		position:relative;
		padding-top:4%;
		padding-bottom:3%;
		text-align: center; margin-left: auto;
		margin-right: auto;
		width:92%;
	}

	.cool-btn-bottom{
		position:relative;
		padding-bottom:3%;
		width:92%;
		margin-left: auto;
		margin-right: auto;
	}
}